.episode-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  height: 400px;
}
.episode-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.episode-card h3 {
  margin: 10px 0 5px 0;
}

.episode-card p {
  margin: 5px 0;
}
